/* ----------------------------Page header---------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    
    background-color: $head-bg-color;
    border-bottom: 1px solid $border-head-color;

    @media screen and (max-width: $mobile-max) {
        min-height: 60px;
    }

    @media screen and (min-width: $tablet) {
        min-height: 80px;
    }
}

.header__container {
    @extend %container;

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
    }
}

.header__nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile-max) {
            min-height: 60px;
        }
    
    @media screen and (min-width: $tablet) {
            min-height: 80px;
        }

    @media screen and (max-width: $tablet-max) {
        justify-content: space-between;
        flex-direction: row;
    }
}

.logo {
    @extend %link;
    color: $accent-color;
    font-family: 'raleway';
    font-weight: 700;
    
    @media screen and (max-width: $tablet-max) {
        font-size: 24px;
        line-height: 1.16;
    }
    
    // @media screen and (min-width: $tablet) {
    //     margin-right: 88px;
    // }

    @media screen and (min-width: $desktop) {
        margin-right: 93px;
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo__text {
    color: $primary-logo-color;
}

.menu-btn {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    & .icon-cross {
        display: none;
    }

    &.is-open .icon-cross {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }

    @media screen and (min-width: $mobile-max) {
        display: none;
    }

    z-index: 1;
}

.menu-mobile__icon {
    fill: currentColor;
    cursor: pointer;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        fill: $accent-color;
    }
}

.menu-mobile__container {
    display: flex;
    align-items: center;
    justify-content: center;

    

    @media screen and (max-width: $mobile-max) {
        display: none;
        &.is-open {
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                translate: -50%;
        
                overflow: scroll;
                max-width: 480px;
                // height: 796px;
                width: 100vw;
                height: 100vh;
        
                padding-top: 48px;
                padding-left: 40px;
                padding-right: 40px;
        
                background: $head-bg-color;
            }
    }
}

.list-nav {
    @extend %list;

    @media screen and (max-width: $mobile-max) {
        margin-bottom: 366px;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;

        width: 282px;
        margin-right: 46px;
    }

    @media screen and (min-width: $desktop) {
        width: 284px;
        margin-right: 301px;
    }
}

.list-nav__item {
    @media screen and (max-width: $mobile-max) {
        margin-bottom: 32px;

        &:nth-child(3) {
            margin-bottom: 0;
        }
    }
}

.list-nav__link {
    @extend %link;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (max-width: $mobile-max) {
        font-size: 40px;
        line-height: 0.85;
    }

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.list-nav__link--current {
    align-items: center;
    color: $accent-color;

    @media screen and (min-width: $tablet) {
        &::after {
            content: '';
            position: relative;
            top: 30px;
            display: block;
            width: 100%;
            height: 4px;

            background-color: $accent-color;
            border-radius: 2px;
        }
    }
}

.list-contact {
    @extend %list;
    display: flex;

    @media screen and (max-width: $mobile-max) {
        margin-bottom: 64px;
        flex-direction: column-reverse;
    }

    @media screen and (min-width: $tablet) {
        flex-direction: column;
    }

    @media screen and (min-width: $desktop) {
        flex-direction: row;
    }
}

.list-contact__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        fill: $accent-color;
    }

    @media screen and (max-width: $mobile-max) {
        display: none;
    }

    @media screen and (max-width: $tablet-max) {
        width: 14px;
        height: 14px;
    }
}

.list-contact__item {
    @media screen and (min-width: $desktop) {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
    
}

.list-contact__item:last-child {
    @media screen and (max-width: $mobile-max) {
        margin-bottom: 32px;
    }
}

.list-contact__link {
    @extend %link;
    color: $secondary-text-color;
    font-weight: 500;
    letter-spacing: 0.02em;

    @media screen and (max-width: $mobile-max) {
        font-size: 24px;
        line-height: 0.33;

        &.list-contact__link--stylization {
            font-size: 34px;
            line-height: 1.17;
            color: $accent-color;
        }
    }

    @media screen and (min-width: $tablet) {
        @media screen and (max-width: $tablet-max){
            margin-bottom: 10px;
        }
        display: flex;
        align-items: center;
            
        font-size: 14px;
        line-height: 1.16;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}

.list-links {
    @extend %list;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 22px;

    @media screen and (min-width: $mobile-max) {
        display: none;
    }
}

.list-links__item {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid $third-border-color;

    &:nth-child(1) {
        padding-left: 0;
    }

    &:nth-child(4) {
        padding-right: 0;
        border-right: none;
    }
}

.list-links__link {
    @extend %link;
    font-weight: 500;
    font-size: 18px;
    line-height: 0.81;
    letter-spacing: 0.02em;
    color: $accent-color;
}