/* ----------------------------Page header---------------------------- */
.header {
    position: relative;
}
.header__container {
    @extend %container;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.logo {
    @extend %link;
    color: $accent-color;

    font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
}

.logo__text {
    color: $primary-logo-color;
}

.site-nav,
.list-contact {
    @media screen and (max-width: $mobile-max) {
        display: none;
    }
}

.menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    .menu-btn__icon-navigation-close {
        display: none;
    }
    &.is-open .menu-btn__icon-navigation-close {
        display: block;
    }
    
    &.is-open .menu-btn__icon-navigation {
        display: none;
    }
}

.menu {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 83px;

    height: 796px;

    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    
    &.is-open {
        display: block;
    }
}
