/* ----------------------------Page header---------------------------- */
.header {
    position: relative;
}

.header__container {
    @extend %container;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.logo {
    @extend %link;
    color: $accent-color;

    font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
}

.logo__text {
    color: $primary-logo-color;
}

.site-nav,
.list-contact {
    @media screen and (max-width: $mobile-max) {
        display: none;
    }
}

.menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    & .icon-cross {
        display: none;
    }

    &.is-open .icon-cross {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }
}

.menu-mobile__container {
    display: none;
    
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    background: $white-text-color;

    &.is-open {
        display: block;
    }
}