/* -----------------------------Features------------------------------ */

.features {
    @extend %section;
    // @extend %reset-padding-bottom;
}

.features__container {
    @extend %container;
}

.features__title {
    @extend %visually-hidden;
}

.features__list {
    @extend %list;
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.features__item {
    margin-right: 30px;
    margin-bottom: 30px;
    
    @media screen and (max-width: $mobile-max) {
        margin-right: 0px;
    
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 2 * 15px) / 2);
    
        @media screen and (max-width: $tablet-max) {
            &:nth-child(even) {
                margin-right: 0;
            }
        }
    
        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }
    
    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 6 * 15px) / 4);
        margin-right: 30px;
        margin-bottom: 0;
    
        &:last-child {
            margin-right: 0;
        }
    }
}

.features__item-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    margin-bottom: 30px;

    background: $main-bg-color;
    border-radius: 4px;
}

.features__lable {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;

    margin-top: 0px;
    margin-bottom: 10px;

    @media screen and (max-width: $mobile-max) {
        text-align: center;
    }
    
}

.features__text {
    color: $secondary-text-color;

    font-size: 14px;
    line-height: 1.7;

    margin-top: 0px;
    margin-bottom: 0px;
}