body {
    margin: 0;

    background-color: $head-bg-color;
    color: $primary-text-color;

    font-family: 'roboto';
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
        padding-top: 16px;
    }
}

// img {
//     display: block;
// }

textarea {
    resize: none;
}